<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springmvc.dao.BasicDataManagementDao">

    <resultMap id="ConsumerMap" type="Consumer">
        <result property="consumerCode" column="consumer_code"/>
        <result property="consumerName" column="consumer_name"/>
        <result property="consumerAddress" column="consumer_address"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="faxNumber" column="fax_number"/>
        <result property="linkman" column="linkman"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap id="SupplierMap" type="Supplier">
        <result property="supplierCode" column="supplier_code"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="supplierAddress" column="supplier_address"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="faxNumber" column="fax_number"/>
        <result property="linkman" column="linkman"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap id="ProductMap" type="Product">
        <result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="type" column="type"/>
        <result property="category" column="category"/>
        <result property="unit" column="unit"/>
        <result property="cost" column="cost"/>
        <result property="price" column="price"/>
        <result property="certificate" column="certificate"/>
        <result property="expirationDate" column="expiration_date"/>
    </resultMap>

    <!-- Consumer Query -->
    <select id="selectConsumer" parameterType="Map" resultMap="ConsumerMap">
        SELECT * FROM aoxing_consumer
        WHERE 1=1
        <if test="code != null and code != ''">
            AND consumer_code = #{code}
        </if>
        <if test="name != null and name != ''">
            AND consumer_name = #{name}
        </if>
        <if test="linkman != null and linkman != ''">
            AND linkman = #{linkman}
        </if>
    </select>

    <insert id="insertConsumer" parameterType="com.springmvc.entity.Consumer">
        INSERT INTO aoxing_consumer(consumer_code, consumer_name, consumer_address, contact_number, fax_number, linkman, remark)
        VALUE (#{consumerCode},#{consumerName},#{consumerAddress},#{contactNumber},#{faxNumber},#{linkman},#{remark})
    </insert>

    <!-- Supplier Query -->
    <select id="selectSupplier" parameterType="Map" resultMap="SupplierMap">
        SELECT * FROM aoxing_supplier
        WHERE 1=1
        <if test="code != null and code != ''">
            AND consumer_code = #{code}
        </if>
        <if test="name != null and name != ''">
            AND consumer_name = #{name}
        </if>
        <if test="linkman != null and linkman != ''">
            AND linkman = #{linkman}
        </if>
    </select>

    <insert id="insertSupplier" parameterType="com.springmvc.entity.Supplier">
        INSERT INTO aoxing_supplier(supplier_code, supplier_name, supplier_address, contact_number, fax_number, linkman, remark)
        VALUE (#{supplierCode},#{supplierName},#{supplierAddress},#{contactNumber},#{faxNumber},#{linkman},#{remark})
    </insert>

    <!-- Product Query -->
    <select id="selectProduct" parameterType="Map" resultMap="ProductMap">
        SELECT * FROM aoxing_product
        WHERE 1=1
        <if test="code != null and code != ''">
            AND consumer_code = #{code}
        </if>
        <if test="name != null and name != ''">
            AND consumer_name = #{name}
        </if>
        <if test="category != null and category != ''">
            AND linkman = #{linkman}
        </if>
    </select>

    <insert id="insertProduct" parameterType="com.springmvc.entity.Product">
        INSERT INTO aoxing_product(product_code, product_name, type, category, unit, cost, price, certificate, expiration_date)
        VALUE (#{productCode},#{productName},#{type},#{category},#{unit},#{cost},#{price},#{certificate},#{expiration_date})
    </insert>
</mapper>